@import 'tailwindcss';
* {
    background-color: var(--color-gray-200);
    font-family: 'Lato', sans-serif;
}

@font-face {
    font-family: 'Lato';
    src: url('assets/fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}